:root {
   --primary-color: #415a77;
   --secondary-color: #e0e1dd;
   --neutral-color: #1b263b;
   --accent-color: #000;
   --tertiary-color: #778da9;
}

body {
   margin: 0px;
   padding: 0px;
   background-color: var(--primary-color);
   font-family: Consolas, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;  
   padding-top: 10%;
   padding-bottom: 10%;
   gap: 40px; 
   text-align: center;
   width: 100%;
}

button {
   background-color: var(--neutral-color);
   color: var(--secondary-color);
   height: 3em;
   width: 150px;

   border-style:solid;
   border-width: 2px;
   border-color: var(--secondary-color);
   border-radius: 28px;

   font-weight: 700;
   font-size: 22px;
   font-family: inherit;
} 

button#reset {
   border-width: 3px;
   font-size: 22px;
}


#scoreboard {
   /* width: 70%; */
   width: 550px;
   /* min-width: 0px; */
   display: flex;
   justify-content:space-evenly;
}

#scoreboard {
   /* width: 250px; */
   height: 200px;
   text-align: center;

   border-radius: 16px;
   border-style: solid;
   border-color: var(--secondary-color);
   /* background-color: #E5E7E9; */
   background-color: var(--accent-color);
   color: var(--secondary-color);
   display: flex;
   justify-content: space-evenly;
}

.score {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 40%;
}

h3, .display {
   font-size: 40px;
   font-weight: 700;
   margin: 10px;
}

h4 {
   margin: 10px;
}

#round {
   margin-top: 20px;
   padding-top: 3px;
   border-style: solid;
   border-radius: 16px;   
}

#roundnumber {
   font-size: 34px;
   width: 60px
}


#battleBoard {
   font-size: 40px;
   font-style: inherit;
   color: var(--secondary-color);
}

#message {
   font-size: 30px;
}